torch
torchvision
transformers
peft
deepspeed
flash-attn
xformers!=0.0.13
apex==0.1
bitsandbytes
sentencepiece
tensorboardX

python-dotenv
ipywidgets
pillow
protobuf

# video processing
# pytorchvideo
decord
av
imageio
opencv-python==4.8.0.74

# languagebind
einops
