torch
torchvision
transformers
peft
deepspeed
flash-attn
xformers
bitsandbytes==0.42.0
sentencepiece==0.2.0
tensorboardX

python-dotenv
ipywidgets
pillow
protobuf==5.26.0

# video processing
pytorchvideo
decord
av
imageio
opencv-python

# languagebind
einops
