apex==0.1
av
decord
deepspeed
einops
ftfy
fvcore
imageio
lm_eval
numpy
omegaconf
opencv-python==4.8.0.74
packaging
pandas
Pillow
pytest
PyYAML
regex
Requests
scipy
setuptools
scikit-image
submitit
tensorboardX
# tensorflow
termcolor
timm
torch
torchvision
tqdm
transformers
wandb
wheel
xformers!=0.0.13
